[submodule "contrib/cppcore"]
	path = contrib/cppcore
	url = https://github.com/kimkulling/cppcore.git
[submodule "contrib/assimp"]
	path = contrib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "contrib/stb"]
	path = contrib/stb
	url = https://github.com/nothings/stb.git
[submodule "imgui"]
	path = contrib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "contrib\\vcpkg"]
	path = contrib\\vcpkg
	url = https://github.com/microsoft/vcpkg.git
